@model IList<mvcWebApp.Models.Progression>


<section>

    <h2>Progressions</h2>

    <div class="row">

        <div class="col-lg-10 col-lg-offset-1">

            <div class="row">

                @foreach (mvcWebApp.Models.Progression progression in @Model)
                {

                    <div class="col-lg-3 col-lg-offset-1">

                        <div id="@progression.Name" class="carousel slide" data-ride="carousel">

                            <!-- Indicators -->
                            <ol class="carousel-indicators">

                                @for (int i = 0; i < progression.ImagePaths.Count(); ++i)
                                {
                                    string itemClass;

                                    if (i == 0)
                                    {
                                        itemClass = "active";
                                    }
                                    else
                                    {
                                        itemClass = "";
                                    }

                                    <li data-target="#@progression.Name" data-slide-to="@i" class="@itemClass"></li>

                                }

                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">

                                @for (int i = 0; i < progression.ImagePaths.Count(); ++i)
                                {
                                    string itemClass;

                                    if (i == 0)
                                    {
                                        itemClass = "item active";
                                    }
                                    else
                                    {
                                        itemClass = "item";
                                    }

                                    <div class="@itemClass">
                                        <img src="@Url.Content(progression.ImagePaths[i])" alt="" />
                                        <div class="carousel-caption">
                                            Caption here.
                                        </div>
                                    </div>

                                }

                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#@progression.Name" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#@progression.Name" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>

                        </div>

                    </div>
                }
            </div>
        </div>
    </div>



</section>
