@model IList<mvcWebApp.Models.Progression>


<section>

    <header class="page-header">
        <h1>Progressions</h1>
    </header>

    <div class="row">

        @{

            int index = 0;            

        }

        @foreach (mvcWebApp.Models.Progression progression in @Model)
        {
            ++index;

            <div class="col-lg-4">

                <div id="@progression.Name" class="carousel slide" data-ride="carousel" data-interval="false">

                    <!-- Indicators -->
                    <ol class="carousel-indicators">

                        @{
                            var imageCount = progression.ImagePaths.Length;
                            var activeImageIndex = imageCount - 1;
                        }

                        @for (var i = 0; i < imageCount; ++i)
                        {
                            // start the carousel with the final image
                            var itemClass = i == activeImageIndex ? "active" : "";

                            <li data-target="#@progression.Name" data-slide-to="@i" class="@itemClass"></li>

                        }

                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">

                        @for (int i = 0; i < progression.ImagePaths.Count(); ++i)
                        {
                            var itemClass = i == activeImageIndex ? "item active" : "item";

                            <div class="@itemClass">
                                <img src="@Url.Content(progression.ImagePaths[i])" class="thumbnail" alt="" />
                                <div class="carousel-caption">
                                    Caption here.
                                </div>
                            </div>

                        }

                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#@progression.Name" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#@progression.Name" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>


        }
    </div>


</section>

