@model IList<mvcWebApp.Models.Progression>


<section>

    <h2>Progressions</h2>

    <div class="row">

        @{

            int index = 0;
            string cssClass = String.Empty;

        }

        @foreach (mvcWebApp.Models.Progression progression in @Model)
        {
            
            if(index == 0)
            {
                cssClass = "pull-left";
            }
            else if (index == @Model.Count() - 1)
            {
                cssClass = "pull-right";
            }
            else
            {
                cssClass = "center-block";
            }
            ++index;

            <div class="col-lg-4">

                <div id="@progression.Name" class="carousel slide @cssClass" data-ride="carousel" data-interval="false">

                    <!-- Indicators -->
                    <ol class="carousel-indicators">

                        @{
                            var imageCount = progression.ImagePaths.Length;
                        }

                        @for (var i = 0; i < imageCount; ++i)
                        {
                            // start the carousel with the final image
                            string itemClass = i == (imageCount - 1) ? "active" : "";

                            <li data-target="#@progression.Name" data-slide-to="@i" class="@itemClass"></li>

                        }

                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">

                        @for (int i = 0; i < progression.ImagePaths.Count(); ++i)
                        {
                            string itemClass;

                            if (i == 0)
                            {
                                itemClass = "item active";
                            }
                            else
                            {
                                itemClass = "item";
                            }

                            <div class="@itemClass">
                                <img src="@Url.Content(progression.ImagePaths[i])" alt="" />
                                <div class="carousel-caption">
                                    Caption here.
                                </div>
                            </div>

                        }

                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#@progression.Name" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#@progression.Name" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>


        }
    </div>


</section>
