@model IList<mvcWebApp.Models.Thumbnail>

<section>

    <h2>Thumbnails</h2>


    @{

        int i = 0;
        int colsPerRow = 12;
        int thumbsPerRow = 4;
        string src;

    }

    @while (i < @Model.Count())
    {
        <div class="row">

            @for (int j = 0; j < thumbsPerRow; ++j)
            {

                if (i < @Model.Count())
                {
                    src = @Url.Content(Model[i].ImagePath);

                    <div class="col-lg-@(colsPerRow / thumbsPerRow)">
                        <a href="@src" class="thumbnail">
                            <img src="@src" alt="" />
                        </a>
                    </div>

                    ++i;
                }
            }

        </div>
    }

</section>
